/* 헤더 */
header .inner_1520 {display: flex; align-items: center; justify-content: space-between; padding: 50px 20px;}
header .header_logo {width: 96px;}
header .header_desc {font-size: 20px; font-weight: 500;}

/* 풋터 */
footer .banner_area {padding: 45px 0 200px 0; margin-bottom: 119px; overflow: hidden;}
footer .banner_area .banner_list {position: relative; width: 2200px; left: 50%; height: 60px; transform-origin: left;}
footer .banner_area .banner_list--01 {z-index: 10; top: 50px; background-color: #0504AF; transform: rotate(-6deg) translateX(-50%);}
footer .banner_area .banner_list--02 {z-index: 9; top: 100px; background-color: #6968CF; transform: rotate(6deg) translateX(-50%);}
footer .banner_area .banner_list .list_text {position: absolute; top: 50%; left: 0; display: flex; align-items: center; justify-content: space-between; width: 1920px; height: 100%; animation: 33s linear 0s infinite normal forwards running rollingleft1;}
footer .banner_area .banner_list .list_text.clone {position: absolute; left: 1975px; display: flex; align-items: center; justify-content: space-between; width: 1920px; height: 100%; animation: 33s linear 0s infinite normal none running rollingleft2;}
footer .banner_area .banner_list .list_text p {color: #9F9EFF; font-size: 16px; font-weight: 500; letter-spacing: 4px;}

footer .inner_1520 {padding: 0 20px;}

footer .contact_area {display: flex; justify-content: space-between; align-items: baseline; margin-bottom: 189px;}
footer .contact_area .contact_title {font-size: 120px; line-height: 140px; color: #0504AF; font-weight: 800;}
footer .contact_area .contact_title img {width: 85px;}
footer .contact_area .contact_btn {height: 100%; display: block; padding: 14px 27px; font-size: 16px; letter-spacing: -.5px; color: #0504AF; border: 2px solid #0504AF; background-color: #fff; font-weight: 600;}

footer .footer_up_btn {position: absolute; right: 0; bottom: 146px; width: 101px; background: none; padding: 0;}
footer .footer_up_btn img {width: 100%; height: 100%;}
footer .company_info {display: flex; justify-content: space-between; align-items: baseline; padding-bottom: 70px;}
footer .company_info .inf {display: flex; align-items: baseline;}
footer .company_info .inf img {width: 108px;}
footer .company_info .inf p {font-size: 14px; color: #A6A6A6;}
footer .company_info .inf a {font-size: 14px; color: #A6A6A6;}
footer .company_info .inf strong {margin-right: 8px; font-weight: 600;}
footer .company_logo, footer .company_email  {margin-right: 35px;}


/* 풋터 띠배너 롤링 */

@keyframes rollingleft1 { /* 원본용 */
  0% {
      transform: translateX(0) translateY(-50%)
  }
  50% {
      transform: translateX(-103%) translateY(-50%);
  }
  50.01%{
      transform: translateX(103%) translateY(-50%);
  }
  100%{
      transform: translateX(0) translateY(-50%);
  }
}

@keyframes rollingleft2 { /* 클론용 */
  0% {
      transform: translateX(0) translateY(-50%);
  }
  100% {
      transform: translateX(-206%) translateY(-50%);
  }
}

@media screen and  (max-width: 1465px) {
    /* 헤더 */
    header .inner_1520 {padding: 50px 25px;}
  
  
    /* 풋터 */
    footer .banner_area {padding: 50px 0 200px; margin-bottom: 89px; overflow: hidden;}
    footer .banner_area .banner_list {position: relative; width: 2200px; left: 50%; height: 60px; transform-origin: left;}
    footer .banner_area .banner_list--01 {z-index: 10; top: 50px; background-color: #0504AF; transform: rotate(-6deg) translateX(-50%);}
    footer .banner_area .banner_list--02 {z-index: 9; top: 100px; background-color: #6968CF; transform: rotate(6deg) translateX(-50%);}
    footer .banner_area .banner_list .list_text {position: absolute; top: 50%; left: 0; display: flex; align-items: center; justify-content: space-between; width: 1920px; height: 100%; animation: 33s linear 0s infinite normal forwards running rollingleft1;}
    footer .banner_area .banner_list .list_text.clone {position: absolute; left: 1975px; display: flex; align-items: center; justify-content: space-between; width: 1920px; height: 100%; animation: 33s linear 0s infinite normal none running rollingleft2;}
    footer .banner_area .banner_list .list_text p {color: #9F9EFF; font-size: 16px; font-weight: 500; letter-spacing: 4px;}
  
    footer .inner_1520 {padding: 0 25px;}
    footer .contact_area {display: flex; justify-content: space-between; align-items: baseline; flex-direction: column; margin-bottom: 189px;}
    footer .contact_area .contact_title {font-size: 100px; line-height: 120px; color: #0504AF; font-weight: 800;}
    footer .contact_area .contact_title img {width: 65px;}
    footer .contact_area .contact_btn {height: 100%; display: block; padding: 14px 27px; font-size: 16px; letter-spacing: -.5px; color: #0504AF; border: 2px solid #0504AF; background-color: #fff; font-weight: 600;}
  
    footer .footer_up_btn {position: absolute; right: 25px; bottom: 146px; width: 101px; background: none;}
    footer .footer_up_btn img {width: 100%; height: 100%;}
    footer .company_info {display: flex; justify-content: space-between; align-items: baseline; padding-bottom: 70px;}
    footer .company_info .inf {display: flex; align-items: baseline;}
    footer .company_info .inf img {width: 108px;}
    footer .company_info .inf p {font-size: 14px; color: #A6A6A6;}
    footer .company_info .inf a {font-size: 14px; color: #A6A6A6;}
    footer .company_info .inf strong {margin-right: 8px; font-weight: 600;}
    footer .company_logo, footer .company_email  {margin-right: 35px;}
  }

@media screen and  (max-width: 1024px) {
    /* 헤더 */
    header .inner_1520 {padding: 50px 25px;}
 
 
    /* 풋터 */
    footer .banner_area {padding: 30px 0 150px; margin-bottom: 89px; overflow: hidden;}
    footer .banner_area .banner_list {position: relative; width: 2200px; left: 50%; height: 60px; transform-origin: left;}
    footer .banner_area .banner_list--01 {z-index: 10; top: 50px; background-color: #0504AF; transform: rotate(-6deg) translateX(-50%);}
    footer .banner_area .banner_list--02 {z-index: 9; top: 100px; background-color: #6968CF; transform: rotate(6deg) translateX(-50%);}
    footer .banner_area .banner_list .list_text {position: absolute; top: 50%; left: 0; display: flex; align-items: center; justify-content: space-between; width: 1920px; height: 100%; animation: 33s linear 0s infinite normal forwards running rollingleft1;}
    footer .banner_area .banner_list .list_text.clone {position: absolute; left: 1975px; display: flex; align-items: center; justify-content: space-between; width: 1920px; height: 100%; animation: 33s linear 0s infinite normal none running rollingleft2;}
    footer .banner_area .banner_list .list_text p {color: #9F9EFF; font-size: 16px; font-weight: 500; letter-spacing: 4px;}
  
    footer .inner_1520 {padding: 0 25px;}
    footer .contact_area {display: flex; justify-content: space-between; align-items: baseline; margin-bottom: 189px;}
    footer .contact_area .contact_title {font-size: 80px; line-height: 100px; color: #0504AF; font-weight: 800;}
    footer .contact_area .contact_title img {width: 65px;}
    footer .contact_area .contact_btn {height: 100%; display: block; padding: 14px 27px; font-size: 16px; letter-spacing: -.5px; color: #0504AF; border: 2px solid #0504AF; background-color: #fff; font-weight: 600;}
  
    footer .footer_up_btn {position: absolute; right: 25px; bottom: 146px; width: 80px; background: none;}
    footer .footer_up_btn img {width: 100%; height: 100%;}
    footer .company_info {display: flex; justify-content: space-between; align-items: baseline; padding-bottom: 70px;}
    footer .company_info .inf {display: flex; align-items: baseline;}
    footer .company_info .inf img {width: 108px;}
    footer .company_info .inf p {font-size: 14px; color: #A6A6A6;}
    footer .company_info .inf a {font-size: 14px; color: #A6A6A6;}
    footer .company_info .inf strong {margin-right: 8px; font-weight: 600;}
    footer .company_logo, footer .company_email  {margin-right: 35px;}
  
 }


@media all and (max-width:768px) {
  
    /* 풋터 */
    footer .banner_area {padding: 30px 0 150px; margin-bottom: 89px; overflow: hidden;}
    footer .banner_area .banner_list {position: relative; width: 2200px; left: 50%; height: 60px; transform-origin: left;}
    footer .banner_area .banner_list--01 {z-index: 10; top: 50px; background-color: #0504AF; transform: rotate(-6deg) translateX(-50%);}
    footer .banner_area .banner_list--02 {z-index: 9; top: 100px; background-color: #6968CF; transform: rotate(6deg) translateX(-50%);}
    footer .banner_area .banner_list .list_text {position: absolute; top: 50%; left: 0; display: flex; align-items: center; justify-content: space-between; width: 1920px; height: 100%; animation: 33s linear 0s infinite normal forwards running rollingleft1;}
    footer .banner_area .banner_list .list_text.clone {position: absolute; left: 1975px; display: flex; align-items: center; justify-content: space-between; width: 1920px; height: 100%; animation: 33s linear 0s infinite normal none running rollingleft2;}
    footer .banner_area .banner_list .list_text p {color: #9F9EFF; font-size: 16px; font-weight: 500; letter-spacing: 4px;}
  
    footer .inner_1520 {padding: 0 25px;}
    footer .contact_area {display: flex; justify-content: space-between; align-items: baseline; margin-bottom: 130px;}
    footer .contact_area .contact_title {font-size: 60px; line-height: 80px; color: #0504AF; font-weight: 800;}
    footer .contact_area .contact_title img {width: 65px;}
    footer .contact_area .contact_btn {height: 100%; display: block; padding: 14px 27px; font-size: 16px; letter-spacing: -.5px; color: #0504AF; border: 2px solid #0504AF; background-color: #fff; font-weight: 600;}
  
    footer .footer_up_btn {position: absolute; right: 25px; bottom: 146px; width: 80px; background: none;}
    footer .footer_up_btn img {width: 100%; height: 100%;}
    footer .company_info {flex-direction: column;}
    footer .company_info .inf {flex-direction: column;}
    footer .company_info .inf p {margin-bottom: 10px}
    footer .company_logo {margin-bottom: 15px;}
 
 }