
.bannerWrap {
    position: relative;
    padding-top: 337px;
    overflow: hidden;
  }
  
  .bannerWrap .bannerTitle {
    width: 100%;
    height: 100vh;
    font-size: 400px;
    font-weight: 700;
    white-space: nowrap;
    text-transform: uppercase;
    box-sizing: border-box;
  }
  
  .bannerWrap .bannerTitle .a {
    color: #0504afb2;
  }
  
  .bannerWrap .bannerTitle .b {
    display: inline-block;
    transform: scaleY(-1); 
    -webkit-text-stroke: 2px #0504afb2; 
    color: transparent;
  }
  
  /* 카드 컨테이너 */
  .bannerWrap .bannerImage {
    position: absolute;
    left: 60%;
    top: 337px;
    transform: translateX(-50%) rotate(28deg); 
    max-width: 504px;
    perspective: 1000px; 
    width: 100%;
  }
  
  .bannerWrap .bannerImage img {
    width: 100%;
  }
  

  .card {
    position: relative;
    width: 100%;
    height: auto;
    transform-style: preserve-3d;
    transition: transform 0.6s ease; 
  }
  
  
  .card.flipped {
    transform: rotateY(180deg);
  }
  

  .cardFront {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
    transform: rotateY(0deg); 
  }
  

  .cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
  }
  @media screen and  (max-width: 768px) {
    .bannerWrap {
      position: relative;
      padding-top: 80px;
      overflow: hidden;
    }

     /* 카드 컨테이너 */
  .bannerWrap .bannerImage {
    position: absolute;
    left: 71%;
    top: 66px;
    transform: translateX(-50%) rotate(28deg); 
    max-width: 205px;
    perspective: 1000px; 
    width: 100%;
  }
    .bannerWrap .bannerTitle {
    width: 100%;
    height: 58vh;
    font-size: 138px;
    font-weight: 700;
    white-space: nowrap;
    text-transform: uppercase;
    box-sizing: border-box;
  }

  }