/* 포폴 리스트 */
.sec_portfolio {padding-top: 73px; overflow: hidden;}
.sec_portfolio .inner_1520 .title_box {display: flex; align-items: center; justify-content: space-between; margin-bottom: 70px;}
.sec_portfolio .inner_1520 .title_box .title {font-size: 120px; color: #0504AF; font-weight: 800; letter-spacing: -6px;}
.sec_portfolio .inner_1520 .typing {display: flex; justify-content: flex-end; align-items: baseline; width: 688px; border-bottom: 2px solid #0504AF;}
.sec_portfolio .inner_1520 .typing .typing_txt {font-size: 100px; color: #B4B4E7; font-weight: 200; animation: blink .5s infinite, typing 2s steps(22); white-space: nowrap; overflow: hidden;}
.sec_portfolio .inner_1520 .typing::after {content: '.'; margin-left: 10px; font-size: 100px; color: #0504AF; font-weight: 800; animation: dot .5s infinite; animation-delay: 2s; white-space: nowrap; overflow: hidden;}
.sec_portfolio .inner_1520 .typing .typing_dot {margin-left: 10px; font-size: 100px; color: #0504AF; font-weight: 800;}
.sec_portfolio .inner_1520 .contents_box {display: flex; flex-wrap: wrap; justify-content: center; gap: 0 9px;}
.sec_portfolio .inner_1520 .list_item {width: 488px; margin-bottom: 100px;}
.sec_portfolio .inner_1520 .list_item a {display: block; margin-bottom: 15px;}
.sec_portfolio .inner_1520 .list_item a .img_box {overflow: hidden; width: 488px; height: 260px;}
.sec_portfolio .inner_1520 .list_item a .img_box:after { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #000;  opacity: 0.3; -webkit-transition: opacity 0.3s ease-in-out; -moz-transition: opacity 0.3s ease-in-out; transition: opacity 0.3s ease-in-out;}
.sec_portfolio .inner_1520 .list_item a .img_box:hover::after {opacity: 0;}
.sec_portfolio .inner_1520 .list_item a .img_box img {transition: 0.5s all;}
.sec_portfolio .inner_1520 .list_item a .img_box:hover img {transform: scale(1.1);}
.sec_portfolio .inner_1520 .list_item--title {margin-bottom: 15px; font-size: 22px; font-weight: 500;}
.sec_portfolio .inner_1520 .list_item--desc {font-size: 16px; line-height: 19px;}
.sec_portfolio .inner_1520 .tab_box {display: flex; justify-content: center; gap: 30px; margin: 100px 0 50px;}
.sec_portfolio .inner_1520 .tab_box label {padding: 7px 20px; border-radius: 30px; font-size: 24px; border: 1px solid #0504AF; color: #0504AF; background-color: #fff; cursor: pointer;}
.sec_portfolio .inner_1520 .tab_box input:checked + label{background-color: #0504AF; color: #fff;}
.sec_portfolio .inner_1520 .tab_box input {appearance: none;}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes dot {
    50% {
        color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 476px;
    }
}

@keyframes darkbg {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.9;
        display: block;
    }
}

/* 상세페이지 */
.sec_detail {overflow: hidden;}
.sec_detail .detail_kv {position: relative; background-color: #f4f4f4; height: 646px; overflow: hidden;}
.sec_detail .detail_kv .kv_img01 {position: absolute; top: -32px; left: 300px; width: 959px; height: 539px; transform: rotate(-30deg); transform-origin: center center; background: url('http://behind.rf.gd/portfolio_kv_detail_fixbg_pc.png') no-repeat center; background-size:cover; overflow: hidden; text-align: center; border-radius: 25px;}
.sec_detail .detail_kv .kv_img01 img {position: absolute; left: 50.9%; top: 8px; transform: translateX(-50%); border-radius: 18px;}
.sec_detail .detail_kv .img_box {width: 936px; height: 100%;}
.sec_detail .detail_kv .kv_img02 {position: absolute; top: -591px; left: 1123px; width: 1066px; height: 600px; transform: rotate(-30deg); transform-origin: center center; background: url('http://behind.rf.gd/portfolio_kv_detail_fixbg_pc.png') no-repeat center; background-size:cover; overflow: hidden; text-align: center; border-radius: 45px;}
.sec_detail .detail_kv .kv_img02 img {position: absolute; left: 50%; top: -300px; transform: translateX(-50%); border-radius: 30px;}
.sec_detail .detail_kv .kv_img03 {position: absolute; top: 252px; left: 951px; width: 1066px; height: 600px; transform: rotate(-30deg); transform-origin: center center; background: url('http://behind.rf.gd/portfolio_kv_detail_fixbg_pc.png') no-repeat center; background-size:cover; overflow: hidden; text-align: center; border-radius: 45px;}
.sec_detail .detail_kv .kv_img03 img {position: absolute; left: 50%; bottom: -579px; transform: translateX(-50%); border-radius: 30px;}

.sec_detail .detail_info {margin-bottom: 0; background-color: #131313;}
.sec_detail .detail_info .inner_1520 {padding: 120px 0}
.sec_detail .detail_info .info_title {margin-bottom: 30px; font-size: 32px; letter-spacing: -2px; color: #302EFC; font-weight: 500;}
.sec_detail .detail_info .info_area {display: flex; justify-content: space-between;}
.sec_detail .detail_info .info_area .area_txt {position: relative;}
.sec_detail .detail_info .info_area .area_txt .skill_title {position: absolute; top: 3px; left: -85px; font-size: 20px; color: #fff; font-weight: 500;}
.sec_detail .detail_info .info_area .area_txt dl {display: flex; margin-bottom: 20px; line-height: 28px;}
.sec_detail .detail_info .info_area .area_txt dt {width: 80px; font-size: 16px; font-weight: 500; color: #fff;}
.sec_detail .detail_info .info_area .area_txt dd {display: flex; flex-wrap: wrap; gap: 8px; font-size: 16px; font-weight: 400; color: #b6b6b6;}
.sec_detail .detail_info .info_area .area_txt dd.content {width: 400px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }

.sec_detail .detail_info .info_area .area_txt--skill dd p {padding: 7px 11px; font-size: 14px; color: #302EFC; border-radius: 50px; border: 1px solid #302EFC; line-height: 14px;}

.sec_detail .detail_all {}
.sec_detail .detail_all .detail_title {margin-bottom: 152px; font-size: 32px; letter-spacing: -1px; font-weight: 600; color: #0504AF; text-align: center;}
.sec_detail .detail_all .detail_area {display: flex; flex-wrap: wrap; justify-content: center;}
.sec_detail .detail_all .pc_kv_img {width: 1520px; height: 855px; margin-bottom: 96px; background: url('http://behind.rf.gd/portfolio_kv_detail_fixbg_pc.png') no-repeat center; background-size:cover; overflow: hidden; text-align: center; border-radius: 45px;}
.sec_detail .detail_all .pc_kv_img img {position: absolute; top: 0; left: 50%; transform: translateX(-50%); }
.sec_detail .detail_all .pc_img {width: 875px;}
.sec_detail .detail_all .mo_img {width: 617px;}



@media screen and  (max-width: 1465px) {
    /* 포폴 리스트 */
    .sec_portfolio {padding-top: 73px;}
    .sec_portfolio .inner_1520 {max-width: 1465px; padding: 0 24px;}
    .sec_portfolio .inner_1520 .title_box {align-items: normal; flex-direction: column; margin-bottom: 70px;}
    .sec_portfolio .inner_1520 .title_box .title {font-size: 120px; color: #0504AF; font-weight: 800; letter-spacing: -6px;}
    .sec_portfolio .inner_1520 .typing {align-self: flex-end; width: 688px; border-bottom: 2px solid #0504AF;}
    .sec_portfolio .inner_1520 .typing .typing_txt {font-size: 100px; color: #B4B4E7; font-weight: 200; animation: blink .5s infinite, typing 2s steps(22); white-space: nowrap; overflow: hidden;}
    .sec_portfolio .inner_1520 .typing::after {content: '.'; margin-left: 10px; font-size: 100px; color: #0504AF; font-weight: 800; animation: dot .5s infinite; animation-delay: 2s; white-space: nowrap; overflow: hidden;}
    .sec_portfolio .inner_1520 .typing .typing_dot {margin-left: 10px; font-size: 100px; color: #0504AF; font-weight: 800;}
    .sec_portfolio .inner_1520 .contents_box {display: flex; flex-wrap: wrap;gap: 0 25px;}
    .sec_portfolio .inner_1520 .list_item {width: 31.5vw; margin-bottom: 100px;}
    .sec_portfolio .inner_1520 .list_item a {display: block; margin-bottom: 15px;}
    .sec_portfolio .inner_1520 .list_item a .img_box {overflow: hidden; width: 31.5vw; height: 18vw;}
    .sec_portfolio .inner_1520 .list_item a .img_box:after { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #000;  opacity: 0.3; -webkit-transition: opacity 0.3s ease-in-out; -moz-transition: opacity 0.3s ease-in-out; transition: opacity 0.3s ease-in-out;}
    .sec_portfolio .inner_1520 .list_item a .img_box:hover::after {opacity: 0;}
    .sec_portfolio .inner_1520 .list_item a .img_box img {transition: 0.5s all;}
    .sec_portfolio .inner_1520 .list_item a .img_box:hover img {transform: scale(1.1);}
    .sec_portfolio .inner_1520 .list_item--title {margin-bottom: 15px; font-size: 18px; font-weight: 500;}
    .sec_portfolio .inner_1520 .list_item--desc {font-size: 14px; line-height: 19px;}

    /* 상세페이지 */
    .sec_detail .detail_kv {position: relative; background-color: #f4f4f4; height: 646px; overflow: hidden;}
    .sec_detail .detail_kv .kv_img01 {position: absolute; top: 20px; left: 190px; width: 959px; height: 539px; transform: rotate(-30deg); transform-origin: center center; background: url('http://behind.rf.gd/portfolio_kv_detail_fixbg_pc.png') no-repeat center; background-size:cover; overflow: hidden; text-align: center; border-radius: 25px;}
    .sec_detail .detail_kv .kv_img01 img {position: absolute; left: 50.9%; top: 8px; transform: translateX(-50%); border-radius: 18px;}
    .sec_detail .detail_kv .img_box {width: 936px;}
    .sec_detail .detail_kv .kv_img02 {position: absolute; top: -591px; left: 1073px; width: 1066px; height: 600px; transform: rotate(-30deg); transform-origin: center center; background: url('http://behind.rf.gd/portfolio_kv_detail_fixbg_pc.png') no-repeat center; background-size:cover; overflow: hidden; text-align: center; border-radius: 45px;}
    .sec_detail .detail_kv .kv_img02 img {position: absolute; left: 50%; top: -300px; transform: translateX(-50%); border-radius: 30px;}
    .sec_detail .detail_kv .kv_img03 {position: absolute; top: 252px; left: 901px; width: 1066px; height: 600px; transform: rotate(-30deg); transform-origin: center center; background: url('http://behind.rf.gd/portfolio_kv_detail_fixbg_pc.png') no-repeat center; background-size:cover; overflow: hidden; text-align: center; border-radius: 45px;}
    .sec_detail .detail_kv .kv_img03 img {position: absolute; left: 50%; bottom: -579px; transform: translateX(-50%); border-radius: 30px;}

    .sec_detail .detail_info {margin-bottom: 0;}
    .sec_detail .detail_info .inner_1520 {padding: 120px 25px}

    .sec_detail .detail_all .inner_1520 {width: 100%; padding: 0 25px;}
    .sec_detail .detail_all .detail_title {margin-bottom: 152px; font-size: 32px; letter-spacing: -1px; font-weight: 600; color: #0504AF; text-align: center;}
    .sec_detail .detail_all .detail_area {display: flex; flex-wrap: wrap; justify-content: center;}
    .sec_detail .detail_all .pc_kv_img {width: 100%; height: 53vw; margin-bottom: 96px; background: url('http://behind.rf.gd/portfolio_kv_detail_fixbg_pc.png') no-repeat center; background-size:cover; overflow: hidden; text-align: center; border-radius: 45px;}
    .sec_detail .detail_all .pc_kv_img img {position: absolute; top: 0; left: 50%; transform: translateX(-50%); }
    .sec_detail .detail_all .pc_img {width: 62vw;}
    .sec_detail .detail_all .mo_img {width: 617px;}
}

@media screen and  (max-width: 1024px) {
    /* 포폴 리스트 */
    .sec_portfolio .inner_1520 {width: 100%; padding: 0 24px;}
    .sec_portfolio .inner_1520 .list_item {width: 31.5vw; margin-bottom: 100px;}
    .sec_portfolio .inner_1520 .list_item--title {margin-bottom: 15px; font-size: 18px; font-weight: 500;}
    .sec_portfolio .inner_1520 .list_item--desc {font-size: 14px; line-height: 19px;}

    /* 상세페이지 */
    .sec_detail .detail_kv {position: relative; background-color: #f4f4f4; height: 646px; overflow: hidden;}
    .sec_detail .detail_kv .kv_img01 {position: absolute; top: 84px; left: 65px; width: 810px; height: 457px; transform: rotate(-30deg); transform-origin: center center; background: url('http://behind.rf.gd/portfolio_kv_detail_fixbg_pc.png') no-repeat center; background-size:cover; overflow: hidden; text-align: center; border-radius: 16px;}
    .sec_detail .detail_kv .kv_img01 img {position: absolute; left: 50.8%; top: 6px; transform: translateX(-50%); border-radius: 9px;}
    .sec_detail .detail_kv .img_box {width: 792px;}
    .sec_detail .detail_kv .kv_img02 {position: absolute; top: -591px; left: 1023px; width: 1066px; height: 600px; transform: rotate(-30deg); transform-origin: center center; background: url('http://behind.rf.gd/portfolio_kv_detail_fixbg_pc.png') no-repeat center; background-size:cover; overflow: hidden; text-align: center; border-radius: 45px;}
    .sec_detail .detail_kv .kv_img02 img {position: absolute; left: 50%; top: -300px; transform: translateX(-50%); border-radius: 30px;}
    .sec_detail .detail_kv .kv_img03 {position: absolute; top: 252px; left: 851px; width: 1066px; height: 600px; transform: rotate(-30deg); transform-origin: center center; background: url('http://behind.rf.gd/portfolio_kv_detail_fixbg_pc.png') no-repeat center; background-size:cover; overflow: hidden; text-align: center; border-radius: 45px;}
    .sec_detail .detail_kv .kv_img03 img {position: absolute; left: 50%; bottom: -579px; transform: translateX(-50%); border-radius: 30px;}

    .sec_detail .detail_info {margin-bottom: 0;}
    .sec_detail .detail_info .inner_1520 {padding: 120px 25px}

    .sec_detail .detail_all .inner_1520 {width: 100%; padding: 0 25px;}
    .sec_detail .detail_all .detail_title {margin-bottom: 152px; font-size: 32px; letter-spacing: -1px; font-weight: 600; color: #0504AF; text-align: center;}
    .sec_detail .detail_all .detail_area {display: flex; flex-wrap: wrap; justify-content: center;}
    .sec_detail .detail_all .pc_kv_img {width: 100%; height: 53vw; margin-bottom: 96px; background: url('http://behind.rf.gd/portfolio_kv_detail_fixbg_pc.png') no-repeat center; background-size:cover; overflow: hidden; text-align: center; border-radius: 45px;}
    .sec_detail .detail_all .pc_kv_img img {position: absolute; top: 0; left: 50%; transform: translateX(-50%); }
    .sec_detail .detail_all .pc_img {width: 62vw;}
    .sec_detail .detail_all .mo_img {width: 617px;}
}


@media screen and  (max-width: 768px) {
    /* 포폴 리스트 */
    .sec_portfolio {padding-top: 60px; }
    .sec_portfolio .inner_1520 {max-width: 100%; padding: 0 20px;}
    .sec_portfolio .inner_1520 .title_box {align-items: center; flex-direction: column; justify-content: center; margin-bottom: 90px; text-align: center;}
    .sec_portfolio .inner_1520 .title_box .title {font-size: 13vw; color: #0504AF; font-weight: 800; letter-spacing: -2px;}
    .sec_portfolio .inner_1520 .typing {align-self: auto; width: 280px; border-bottom: 2px solid #0504AF;}
    .sec_portfolio .inner_1520 .typing .typing_txt {font-size: 7.5vw; animation: blink .5s infinite, typing 2s steps(22); white-space: nowrap; overflow: hidden;}
    .sec_portfolio .inner_1520 .typing::after {content: '.'; margin-left: 10px; font-size: 100px; color: #0504AF; font-weight: 800; animation: dot .5s infinite; animation-delay: 2s; white-space: nowrap; overflow: hidden;}
    .sec_portfolio .inner_1520 .typing .typing_dot {margin-left: 10px; font-size: 100px; color: #0504AF; font-weight: 800;}
    .sec_portfolio .inner_1520 .contents_box {display: flex; flex-wrap: wrap; justify-content: center;}
    .sec_portfolio .inner_1520 .list_item {width: 100%; margin-bottom: 60px;}
    .sec_portfolio .inner_1520 .list_item a {display: block; margin-bottom: 15px;}
    .sec_portfolio .inner_1520 .list_item a .img_box {overflow: hidden; width: 100%; height: 50vw;}
    .sec_portfolio .inner_1520 .list_item a .img_box:after { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #000;  opacity: 0.3; -webkit-transition: opacity 0.3s ease-in-out; -moz-transition: opacity 0.3s ease-in-out; transition: opacity 0.3s ease-in-out;}
    .sec_portfolio .inner_1520 .list_item a .img_box:hover::after {opacity: 0;}
    .sec_portfolio .inner_1520 .list_item a .img_box img {transition: 0.5s all;}
    .sec_portfolio .inner_1520 .list_item a .img_box:hover img {transform: scale(1.1);}
    .sec_portfolio .inner_1520 .list_item--title {margin-bottom: 10px; font-size: 3.2vw; font-weight: 500;}
    .sec_portfolio .inner_1520 .list_item--desc {font-size: 3vw; line-height: 4vw;}
    .sec_portfolio .inner_1520 .tab_box {display: flex; justify-content: center; gap: 3vw; margin: 50px 0 9vw;}
    .sec_portfolio .inner_1520 .tab_box label {padding: 7px 3vw; border-radius: 30px; font-size: 3.5vw; border: 1px solid #0504AF; color: #0504AF; background-color: #fff; cursor: pointer;}
    .sec_portfolio .inner_1520 .tab_box input:checked + label{background-color: #0504AF; color: #fff;}
    .sec_portfolio .inner_1520 .tab_box input {appearance: none;}


      /* 상세페이지 */
      .sec_detail .detail_kv {position: relative; background-color: #f4f4f4; height: 90vw; overflow: hidden;}
      .sec_detail .detail_kv .kv_img01 {position: absolute; top: 19vw; left: 20px; width: 93vw; height: 52vw; transform: rotate(0); transform-origin: center center; background: url('http://behind.rf.gd/portfolio_kv_detail_fixbg_pc.png') no-repeat center; background-size:cover; overflow: hidden; text-align: center; border-radius: 12px;}
      .sec_detail .detail_kv .kv_img01 img {position: absolute; left: 51%; top: 2px; transform: translateX(-50%); border-radius: 7px;}
      .sec_detail .detail_kv .img_box {width: 97.4%;}
      .sec_detail .detail_kv .kv_img02 {position: absolute; top: -591px; left: 973px; width: 1066px; height: 600px; transform: rotate(-20deg); transform-origin: center center; background: url('http://behind.rf.gd/portfolio_kv_detail_fixbg_pc.png') no-repeat center; background-size:cover; overflow: hidden; text-align: center; border-radius: 45px;}
      .sec_detail .detail_kv .kv_img02 img {position: absolute; left: 50%; top: -300px; transform: translateX(-50%); border-radius: 30px;}
      .sec_detail .detail_kv .kv_img03 {position: absolute; top: 252px; left: 801px; width: 1066px; height: 600px; transform: rotate(-20deg); transform-origin: center center; background: url('http://behind.rf.gd/portfolio_kv_detail_fixbg_pc.png') no-repeat center; background-size:cover; overflow: hidden; text-align: center; border-radius: 45px;}
      .sec_detail .detail_kv .kv_img03 img {position: absolute; left: 50%; bottom: -579px; transform: translateX(-50%); border-radius: 30px;}
  
      .sec_detail .detail_info {margin-bottom: 0;}
      .sec_detail .detail_info .inner_1520 {padding: 120px 25px}
      .sec_detail .detail_info .info_area {flex-direction: column;}
  
      .sec_detail .detail_all .inner_1520 {width: 100%; padding: 0 25px;}
      .sec_detail .detail_all .detail_title {margin-bottom: 52px; font-size: 32px; letter-spacing: -1px; font-weight: 600; color: #0504AF; text-align: center;}
      .sec_detail .detail_all .detail_area {display: flex; flex-wrap: wrap; justify-content: center;}
      .sec_detail .detail_all .pc_kv_img {width: 100%; height: 53vw; margin-bottom: 96px; background: url('http://behind.rf.gd/portfolio_kv_detail_fixbg_pc.png') no-repeat center; background-size:cover; overflow: hidden; text-align: center; border-radius: 45px;}
      .sec_detail .detail_all .pc_kv_img img {position: absolute; top: 0; left: 50%; transform: translateX(-50%); }
      .sec_detail .detail_all .pc_img {width: 62vw;}
      .sec_detail .detail_all .mo_img {width: 617px;}
}